
<div class="container" style="margin-top: 30px;">
    <p-card>
        <div class="row">
            <div class="col-12">
                <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="mudaPasso($event)"></p-steps>
            </div>
        </div>

        <!-- INÍCIO STEP TAMANHO E SABORES - ACTIVEINDEX = 0 -->
        <div *ngIf="activeIndex === 0">
            <div class="row" >
                <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 30px; margin-bottom: 30px;">
                    <div class="field-radiobutton" style="margin-right: 30px;" pTooltip="Apenas 1 Sabor" tooltipPosition="bottom" [showDelay]="500">
                        <p-radioButton value="p" [(ngModel)]="tamanhoPizza" inputId="Pequena" (click)="selecionaTamanho($event, tamanhoPizza)"></p-radioButton>
                        <label for="city1" style="padding-left: 5px;">Pequena</label>
                    </div>
                    <div class="field-radiobutton" style="margin-right: 30px;" pTooltip="Até 2 Sabores" tooltipPosition="bottom" [showDelay]="500">
                        <p-radioButton value="m" [(ngModel)]="tamanhoPizza" inputId="Média" (click)="selecionaTamanho($event, tamanhoPizza)"></p-radioButton>
                        <label for="city2" style="padding-left: 5px;">Média</label>
                    </div>
                    <div class="field-radiobutton" style="margin-right: 30px;" pTooltip="Até 2 Sabores" tooltipPosition="bottom" [showDelay]="500">
                        <p-radioButton value="g" [(ngModel)]="tamanhoPizza" inputId="Grande" (click)="selecionaTamanho($event, tamanhoPizza)"></p-radioButton>
                        <label for="city3" style="padding-left: 5px;">Grande</label>
                    </div>
                    <div class="field-radiobutton" pTooltip="Até 4 Sabores" tooltipPosition="bottom" [showDelay]="500">
                        <p-radioButton value="gg" [(ngModel)]="tamanhoPizza" inputId="Gigante" (click)="selecionaTamanho($event, tamanhoPizza)"></p-radioButton>
                        <label for="city3" style="padding-left: 5px;">Gigante</label>
                    </div>
    
                </div>
            </div>
            
            <div class="row">
                <div class="col-7" style="max-width: 40%; margin: auto">
                    <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>
                </div>
                <div class="col-5">
                    <div class="header">
                        <h1>Sabores Selecionados:</h1>
                    </div>
                    <div>
                        <p-chips [(ngModel)]="values" *ngIf="showContent" (onFocus)="selecionarMaisSabores()"></p-chips>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="p-col-3" style="display: flex; max-width: 435px;">
                            <button pButton type="button" style="margin-right: 1rem; flex: 1;" label="Voltar p/ o Cardápio" (click)="closeModal()"></button>
                            <button pButton class="p-button-success" type="button" style="flex: 1;" label="Escolher Adicionais"  (click)="proximoPasso()"></button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- FIM STEP TAMANHO E SABORES - ACTIVEINDEX = 0 -->
        <!-- INÍCIO STEP ADICIONAIS E BORDA - ACTIVEINDEX = 1 -->
            <div *ngIf="activeIndex === 1">
                <p-accordion>
                    <p-accordionTab>
                        <ng-template pTemplate="header">Borda - 1 disponível</ng-template>
                        <div class="col">
                            <div>
                                <p-checkbox name="group2" value="" [value]=""  [(ngModel)]="pizzasSelecionadas" (onChange)="selecionaSabor($event)"></p-checkbox>
                                <label [for]="" style="margin-left: 10px;">Sem Borda</label>
                            </div>
                            <div>
                               <p-checkbox name="group2" value="" [value]=""  [(ngModel)]="pizzasSelecionadas" (onChange)="selecionaSabor($event)"></p-checkbox>
                                <label [for]="" style="margin-left: 10px;">Catupiry</label> 
                            </div>
                            <div>
                                <p-checkbox name="group2" value="" [value]=""  [(ngModel)]="pizzasSelecionadas" (onChange)="selecionaSabor($event)"></p-checkbox>
                                <label [for]="" style="margin-left: 10px;">Requeijão</label>
                            </div>
                            <div>
                                <p-checkbox name="group2" value="" [value]=""  [(ngModel)]="pizzasSelecionadas" (onChange)="selecionaSabor($event)"></p-checkbox>
                                <label [for]="" style="margin-left: 10px;">Cheddar</label>
                            </div>
                            <div>
                                <p-checkbox name="group2" value="" [value]=""  [(ngModel)]="pizzasSelecionadas" (onChange)="selecionaSabor($event)"></p-checkbox>
                                <label [for]="" style="margin-left: 10px;">Chocolate</label>
                            </div>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="Bebidas">
                        Content 2
                    </p-accordionTab>
                    <p-accordionTab header="Outros">
                        Content 3    
                    </p-accordionTab>
                </p-accordion>
            </div>
        <!-- FIM STEP ADICIONAIS E BORDA - ACTIVEINDEX = 1 -->
    </p-card>
</div>

<p-dialog  [(visible)]="display" [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">
     <ng-template pTemplate="header">
        <div class="row">
            <h5>Selecione Outro Sabor</h5> 
            <h5 style="color: rgb(196, 196, 196);">{{qtSaboresRestantesPSelecao}} disponível</h5> 
        </div>
    </ng-template>
    <div class="row">
        <div class="col-10" style="display: flex; flex-direction: row;">
            <div class="col-4">
                <h5>Sabor</h5>
            </div>
            <div class="col-6">
                <h5>Ingredientes</h5>
            </div>
            <div class="col-3">
                <h5>Preco</h5>
            </div>
        </div>
    </div>
    <div *ngFor="let p of cardapio" class="field-checkbox">
        <div class="row">
            <div class="col-10" style="display: flex; flex-direction: row;">
                <div class="col-4">
                    <p-checkbox name="group2" value="p" [value]="p.nome"  [(ngModel)]="pizzasSelecionadas" [inputId]="p.id" (onChange)="selecionaSabor($event)" [disabled]="!pizzasSelecionadas.includes(p.nome) && qtSaboresRestantesPSelecao == 0"></p-checkbox>
                    <label [for]="p.id" style="margin-left: 10px;">{{p.nome}}</label>
                </div>
                <div class="col-6"><span>{{p.descricao}}</span></div>
                <div class="col-3"><span>{{p.precoM}}</span></div>
            </div>
            <div style="height: 1px; width: 100%; background-color: rgba(210, 210, 210, 0.768); margin-top: 5px"></div>  
        </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
        <div class="p-col-3" style="text-align: center;">
            <button pButton class="p-button-success" type="button" label="Ok" style="margin-right: 1rem;" (click)="closeModal()"></button>
            <button pButton type="button" label="Cancelar" (click)="closeModal()"></button>
        </div>
    </div>
</p-dialog>


