<div *ngFor="let pizza of pizzas" >
<app-card-dinamico [pizzas]="pizza"></app-card-dinamico>
</div>

<p-dialog  [(visible)]="display" [style]="{width: '75vw'}">
        <header>primeiro card</header>
        <ng-template pTemplate="header">
            <img  src="../../assets/imagemPizzas/pizzaCalabresa.jpg">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        
        <ng-template pTemplate="footer">
            A partir de R$ 100,00
        </ng-template>
</p-dialog>

