.container{
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
em{
    display: flex;
    justify-content: center;
    align-items: center;
}
input,button{
    width: 30vw;
}
p-card{
    max-width: 600px;
}
.row{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: inherit;
}