<div class="container">
    <p-card class="pcard">
        <div class="row" style="margin-bottom: -40px;">
            <div class="col-6">
                
                <h2>Cadastro</h2>
            </div>
        </div>
        <br />

        <em></em><br />
        <div class="row">
            <div class="p-fluid grid col-12">
                <label for="name">Nome</label><br />
                <input [(ngModel)]="nome" type="text" id="name" pInputText="value1">
            </div>
            <div class="p-fluid grid col-12">
                <label for="lastname">Sobrenome</label><br />
                <input [(ngModel)]="sobrenome" type="text" id="lastname" pInputText="value1">
            </div>

            <div class="row">
                <div class="p-fluid grid col-6">
                    <label for="date">Data de nascimento</label><br />
                    <p-inputMask [(ngModel)]="nascimento" id="date" mask="99/99/9999" placeholder="99/99/9999" slotChar="mm/dd/yyyy">
                    </p-inputMask>
                </div>

                <div class="p-fluid grid col-6">
                    <label for="number">Número de celular</label><br />
                    <p-inputMask [(ngModel)]="celular" id="number" mask="99-999999" placeholder="99-999999"></p-inputMask>
                </div>
            </div>

            <div class="p-fluid grid col-12">
                <label for="email">E-mail</label><br />
                <input [(ngModel)]="email" type="text" id="email" pInputText="value1">
            </div>
            <div class="p-fluid grid col-12">
                <label for="emailvalid">Confirme seu E-mail</label><br />
                <input type="text" id="emailvalid" pInputText="value1">
            </div>


            <div class="p-fluid grid col-12">
                <label for="username2" class="block">Nome de Usuário</label><br />
                <input [(ngModel)]="usuario" type="text"
                    pInputText /><br />
            </div>

            <div class="row">
                <div class="p-fluid grid col-6">
                    <label for="password">Digite sua senha</label><br />
                    <p-password [(ngModel)]="senha" id="password" [toggleMask]="true"></p-password>
                </div>
                <div class="p-fluid grid col-6">
                    <label for="passwordvalid">Digite sua senha novamente</label><br />
                    <p-password id="passwordvalid" [toggleMask]="true"></p-password>
                </div>
            </div>
            <br />
            <div class="p-fluid grid row">
                <div class="col-12" style="display: flex;">
                    <button (click)="cadastrar()" pButton pRipple type="button" label="Cadastrar" class="p-button-success" style="flex: 3; margin-right: 20px;"></button>
                    <button (click)="cadastrar()" pButton pRipple type="button" label="Voltar" class="p-button-primary" style="flex: 1;"></button>
                </div>
            </div>
        </div>
    </p-card>
</div>