<div class="container">
    <div class="p-grid">
        <div class="p-col-6">
            <p-card>
                <div>
                    <span class="p-float-label">
                        <em> Informe o seu e-mail para continuar</em> <br/>
                        <input id="float-input-invalid" type="text" pInputText class="ng-invalid ng-dirty">
                        <label for="float-input-invalid">Digite seu Email</label> 
                    </span>
                </div><br/>
                <div>
                    <button pButton pRipple type="button" label="Continuar" class="p-button-danger"></button>
                </div>
            </p-card>
        </div>
    </div>
</div>